[submodule "comm/z"]
	path = comm/zsh/z
	url = https://github.com/rupa/z.git
[submodule "comm/vim/vim/bundle/Vundle.vim"]
	path = comm/vim/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
